{% extends 'base.html.twig' %}

{% block title %}Modifier une Catégorie{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-green-900 navbar-light bg-light flex justify-between items-center p-3">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="{{ asset('logo.svg') }}" alt="Logo" style="height: 68px !important;" class="ml-4">
    </a>
    <div class="flex space-x-4">
    <a href="{{ path('app_reminder_index') }}" class="bg-green-400 hover:bg-green-500 font-bold text-zinc-400 py-2 px-4 tracking-wide rounded transition duration-300 ease-in-out">
        Reminders
    </a>
    <a href="{{ path('app_category_index') }}" class="bg-green-400 hover:bg-green-500 font-bold text-zinc-400 py-2 px-4 tracking-wide rounded transition duration-300 ease-in-out">
        Categories
    </a>
    </div>
</nav>

<div class="bg-white shadow-md rounded-lg p-6 mb-4 flex justify-center">
   <h1 class="text-2xl font-bold mb-4">Modifier une Catégorie</h1>
</div>
<div class="bg-white shadow-md rounded-lg p-6 mb-4 flex justify-center">
    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>

<div class="flex space-x-4 p-5 justify-center">
    <a href="{{ path('app_category_index') }}" class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400">Retour à la liste</a>
    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}