{% extends 'base.html.twig' %}

{% block title %}Reminder Index{% endblock %}

{% block body %}
<div class="flex justify-center pt-5">
    <h1 class="text-2xl font-bold mb-6">Reminder Index</h1>
</div>

<div class="bg-white shadow-lg rounded-lg p-8 mb-6">
    <table class="min-w-full">
        <thead>
            <tr class="bg-gray-300">
                <th class="py-3 px-4 text-left text-gray-700">Id</th>
                <th class="py-3 px-4 text-left text-gray-700">Title</th>
                <th class="py-3 px-4 text-left text-gray-700">Created Date</th>
                <th class="py-3 px-4 text-left text-gray-700">Limit Date</th>
                <th class="py-3 px-4 text-left text-gray-700">Is Done</th>
                <th class="py-3 px-4 text-left text-gray700">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr class="border-b hover:bg-gray100">
                <td class="py3 px4">{{ reminder.id }}</td>
                <td class="py3 px4">{{ reminder.title }}</td>
                <td class="py3 px4">{{ reminder.createdDate ? reminder.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="py3 px4">{{ reminder.limitDate ? reminder.limitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="py3 px4">{{ reminder.isDone ? 'Yes' : 'No' }}</td>
                <td class="py3 px4">
                    <a href="{{ path('app_reminder_show', {'id': reminder.id}) }}" class="text-blue600 hover:underline">Show</a>
                    <a href="{{ path('app_reminder_edit', {'id': reminder.id}) }}" class "text-yellow600 hover:underline ml2">Edit</a>
                    {{ include('reminder/_delete_form.html.twig', {'reminder': reminder}) }} <!-- Include delete form -->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan "6" class "text-center py4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class "flex justify-center gap4">
    <a href="{{ path('app_reminder_new') }}" class "bg-green600 text-white px5 py3 rounded-lg hover:bg-green700 transition duration200">Create New Reminder</a>

    <a href="{{ path('app_category_index') }}" class "bg-blue600 text-white px5 py3 rounded-lg hover:bg-blue700 transition duration200">Go to Categories Index</a>
</div>

{% endblock %}