{% extends 'base.html.twig' %}

{% block title %}Nouveau Rappel{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-green-900 navbar-light bg-light flex justify-between items-center p-3">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="{{ asset('logo.svg') }}" alt="Logo" style="height: 68px !important;" class="ml-4">
    </a>
    <div class="flex space-x-4">
    <a href="{{ path('app_reminder_index') }}" class="bg-green-400 hover:bg-green-500 font-bold text-zinc-400 py-2 px-4 tracking-wide rounded transition duration-300 ease-in-out">
        Reminders
    </a>
    <a href="{{ path('app_category_index') }}" class="bg-green-400 hover:bg-green-500 font-bold text-zinc-400 py-2 px-4 tracking-wide rounded transition duration-300 ease-in-out">
        Categories
    </a>
    </div>
</nav>

<div class="flex justify-center pt-5">
    <h1 class="text-2xl font-bold mb-6">Créer un nouveau rappel</h1>
</div>
<div class="bg-white shadow-lg rounded-lg p-8 mb-6 flex justify-center">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="flex justify-center mt-4">
            <button type="submit" class="bg-blue-600 text-white px-5 py-3 rounded-lg hover:bg-blue-700 transition duration-200">
                Enregistrer
            </button>
        </div>
    {{ form_end(form) }}
</div>
<div class="flex justify-center">
    <a href="{{ path('app_reminder_index') }}" class="bg-gray-600 text-white px-5 py-3 rounded-lg hover:bg-gray-700 transition duration-200">Retour à la liste</a>
</div>
{% endblock %}