{% extends 'base.html.twig' %}

{% block title %}Rappels du jour{% endblock %}

{% block body %}

{% include 'navbar/navbar.html.twig' %}

<div class="flex justify-center pt-5">
    <h1 class="text-2xl font-bold mb-6">Rappels du jour</h1>
</div>

<div class="bg-white shadow-lg rounded-lg p-8 mb-6 overflow-x-auto">
    <table class="min-w-full">
        <thead>
            <tr class="bg-gray-300">
                <th class="py-3 px-4 text-left text-gray-700">Titre</th>
                <th class="py-3 px-4 text-left text-gray-700 hidden md:table-cell">Date de création</th>
                <th class="py-3 px-4 text-left text-gray-700">Date limite</th>
                <th class="py-3 px-4 text-left text-gray-700 hidden md:table-cell">Terminé</th>
                <th class="py-3 px-4 text-left text-gray-700 hidden md:table-cell text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr class="border-b hover:bg-gray-100">
                <td class="py-3 px-4">
                    <!-- Lien cliquable uniquement sur mobile -->
                    <a href="{{ path('app_reminder_show', {'id': reminder.id}) }}" class="text-blue-500 hover:underline md:hidden">
                        {{ reminder.title }}
                    </a>
                    <!-- Titre normal visible sur les écrans plus grands -->
                    <span class="hidden md:inline">{{ reminder.title }}</span>
                </td>
                <td class="py-3 px-4 hidden md:table-cell">{{ reminder.createdDate ? reminder.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="py-3 px-4">{{ reminder.limitDate ? reminder.limitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="py-3 px-4 hidden md:table-cell">{{ reminder.isDone ? 'Oui' : 'Non' }}</td>
                <td class="py-3 px-4 hidden md:table-cell">
                    <div class="flex justify-center space-x-2">
                        <a href="{{ path('app_reminder_show', {'id': reminder.id}) }}" 
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                            Voir
                        </a>
                        <a href="{{ path('app_reminder_edit', {'id': reminder.id}) }}" 
                        class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                            Modifier
                        </a>
                        {{ include('reminder/_delete_form.html.twig', {'reminder': reminder}) }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center py-4">Aucun rappel pour aujourd'hui</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="flex justify-center mb-5">
    <a href="{{ path('app_reminder_new') }}" class="bg-green-500 text-white px-6 py-3 rounded hover:bg-green600 transition duration=300 ease-in-out">Créer un nouveau rappel</a>
</div>

<!-- JavaScript for toggling the menu -->
<script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>

{% endblock %}